#task {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    background-color: rgba(185, 250, 253, 0.3);
    text-align: center;
    border: inset;
    padding: 30px;
}

#data, #income{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    border: inset;
    text-align: left;
    background-color: rgba(185, 250, 253, 0.2);
}

#income_s {
    display: inline-block;
    font-weight: bold;
    width: 100px;

}

h2, h3 {
    margin: 10px;
}

p {
    text-indent: 3%; /*абзацный отступ*/
}

li {
    list-style-position: inside; /*маркеры рядом со списком*/
}

.inf {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.knopka {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
}