#task {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    background-color: rgba(185, 250, 253, 0.1);
    text-align: center;
    border: inset;
}

#data, #income{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    border: inset;
    text-align: left;
    background-color: rgba(185, 250, 253, 0.2);
}

#income_s {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

h2, h3 {
    margin: 10px;
}

p {
    text-indent: 3%; /*абзацный отступ*/
}

li {
    list-style-position: inside; /*маркеры рядом со списком*/
}

.button, .data_entry {
    margin: 15px 10px 15px 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: bold;
}