label {
    width: 30px;
    display: inline-block;
}

#header_A, #header_B, #header_AxB {
    display: none;
}
#postanovka_zadachi {
    border: double;
    margin: 20px;
    background: rgba(185, 250, 253, 0.3);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

#head {
    text-align: center;
}

p {
    text-indent: 3%;
    margin: 5px;
    text-align: center;
}

h3 {
    margin: 10px;
}

.data_entry {
    margin: 10px 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.button {
    margin: 5px 10px 5px 30px;
}

#sum, #data, #incomes {
    background: rgba(203, 248, 253, 0.3);
    margin: 10px 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: double;
}