#mobBasicYear_table table,
#mobForecastYear_table table {
    width: 100%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
}
#mobBasicYear_table th,
#mobForecastYear_table th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}
#mobBasicYear_table td,
#mobForecastYear_table td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}

.task {
    margin: 20px;
    border: inset;
    text-align: center;
    font-family: Tahoma, serif;
}

h1, h2, p, h4 {
    margin: 10px 20px;
}

h4 {
    text-align: left;
}

p, ul {
    text-align: left;
    text-indent: 3%;
}

.button {
    font-family: Tahoma, serif;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 30px;
}

#n {
    text-align: center;
    font-weight: bold;
}

#data {
    margin: 10px;
}

li{
    list-style-position: inside;
}
.given {
    display: table-cell;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}